<% if user_signed_in? %>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <div class="w3-container w3-dark-grey">
    <h4>Menu</h4>
  </div>

  <img src= "<% current_user.image %>" alt="Sorry" style="width:90%">
  
  <li class="w3-bar-item w3-button"></li>
  <li class="w3-bar-item w3-button"></li>
  <li class="w3-bar-item w3-button text-center">Welcome </li>
  <li class="w3-bar-item w3-button"><%= current_user.name %> </li>
<a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a> 
  
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div>
  <button class="w3-button w3-dark w3-xlarge" onclick="w3_open()">&#9776;</button>



<!--************************************************************************************************************* -->
<% else %>

<div class="jumbotron text-center">
  <h1>Login!!!</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<% end %>
