
<% if !@res["items"].empty? %>
<%= image_tag(@res["items"][0]["snippet"]["thumbnails"]["default"]["url"], :alt => "Pic Unavailable") %>
<br><br>
<strong> <%= @res["items"][0]["snippet"]["title"] %></strong>
 
 <p><b>Added Successfully..</b></p>
 <% else %>
 <strong>Wrong Link!!! Try Another One</strong>
 <% end %>
 </div>